/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fff;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  color: #161616; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #161616;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    outline: none; }

i {
  color: #488E9A; }
  i:hover {
    color: #377a84; }

button {
  cursor: pointer; }
  button:focus {
    outline: none; }
  button:hover {
    background: #377a84;
    color: #fff; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }

.x-index {
  position: relative;
  z-index: 20; }

.x-index-100 {
  position: relative;
  z-index: 100; }

.background-blue {
  background: #488E9A; }

.container {
  margin: 0 auto;
  max-width: 1310px;
  padding: 0 15px; }

.btn {
  padding: 22px 66px 20px;
  letter-spacing: 1px;
  background: #488E9A;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border: none; }

.mobile-menu-navigation {
  position: fixed;
  z-index: 25;
  top: 0;
  bottom: 0;
  right: 200%;
  max-width: 865px;
  background-color: #fff;
  transition: all .25s ease;
  overflow: auto;
  box-shadow: -24px 0px 24px -12px rgba(34, 60, 80, 0.2); }
  .mobile-menu-navigation .navigation {
    display: block;
    padding: 60px 107px 50px 60px; }
    .mobile-menu-navigation .navigation li {
      margin-bottom: 25px; }

.show-menu {
  right: 0; }

.btn-menu {
  position: absolute;
  top: 18px;
  right: 60px;
  height: 27px;
  width: 55px;
  cursor: pointer;
  transition: all .25s ease;
  display: none;
  z-index: 103; }
  @media only screen and (max-width: 3000px) {
    .btn-menu {
      display: block; } }
  .btn-menu span {
    background: #fff;
    border: none;
    height: 6px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .bottom {
    height: 3px;
    top: 14px; }
  .btn-menu .top {
    height: 6px; }
  .btn-menu.active .top {
    transform: translateY(8px) translateX(0) rotate(45deg); }
  .btn-menu.active .middle {
    opacity: 0; }
  .btn-menu.active .bottom {
    transform: translateY(-8px) translateX(0) rotate(-45deg); }

.header {
  padding: 20px 0;
  position: relative; }
  .header:after {
    content: "";
    position: absolute;
    width: 1585px;
    height: 1px;
    left: 0;
    top: 97px;
    background: #A0A0A0;
    z-index: 10; }
  .header:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 98px;
    right: 448px;
    top: 0;
    background: #A0A0A0;
    z-index: 10; }

.header-wrapper {
  position: relative; }

.decoration-wrapper {
  display: flex;
  position: absolute;
  left: 103px;
  top: -23px; }
  .decoration-wrapper .left {
    width: 144px;
    height: 100px;
    background: #1E1E1E;
    opacity: 0.8;
    margin-right: 5px; }
  .decoration-wrapper .right {
    width: 9px;
    height: 100px;
    background: #1E1E1E;
    opacity: 0.8; }

.side-border {
  position: relative; }
  .side-border .border-left:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 900px;
    left: -7px;
    top: 0;
    background: #A0A0A0;
    z-index: 10; }
  .side-border .border-right:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 900px;
    right: 7px;
    top: 0;
    background: #A0A0A0;
    z-index: 10; }

.banner {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 897px;
  position: relative;
  margin-top: -99px; }
  .banner:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #484848;
    opacity: 0.8; }

.title-btn-wrapper {
  margin-bottom: 80px;
  padding-left: 99px; }
  .title-btn-wrapper .video-button {
    position: relative;
    display: flex;
    text-decoration: none;
    width: 246px; }
    .title-btn-wrapper .video-button:after {
      content: "";
      position: absolute;
      width: 257px;
      height: 1px;
      left: -6px;
      top: 32px;
      background: #A0A0A0;
      z-index: 10; }
    .title-btn-wrapper .video-button span {
      display: block;
      font-weight: 400;
      color: #fff;
      margin-right: 11px; }
    .title-btn-wrapper .video-button .btn {
      position: relative;
      padding: 16px;
      border: 1px solid #488E9A;
      background: transparent;
      border-radius: 50%;
      margin-top: -9px; }
      .title-btn-wrapper .video-button .btn:after {
        content: '';
        position: absolute;
        left: 13px;
        bottom: 9px;
        border: 7px solid transparent;
        border-top: 7px solid #fff;
        transform: rotate(-90deg); }

.title-area {
  position: relative;
  margin-bottom: 242px; }
  .title-area .line:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    left: -106px;
    top: 378px;
    background: #FFFFFF;
    z-index: 10; }
  .title-area .point:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: -19px;
    top: 375px;
    background: #FFFFFF;
    z-index: 10;
    border-radius: 20px; }
  .title-area .title {
    font-family: 'Prosto One', cursive;
    padding-top: 360px;
    font-weight: 400;
    color: #fff; }
    .title-area .title h5 {
      margin-bottom: 4px;
      font-size: 38px;
      line-height: 40px;
      letter-spacing: 2px; }
    .title-area .title h6 {
      font-size: 32px;
      line-height: 44px;
      letter-spacing: 2px; }

.form-wrapper {
  margin-bottom: 164px; }

.form-area {
  display: flex;
  justify-content: space-between;
  max-width: 1108px;
  padding: 48px 87px 41px 105px;
  margin-left: -6px;
  margin-top: -102px; }
  .form-area .text {
    max-width: 462px;
    margin-right: 88px;
    color: #fff; }
    .form-area .text h5 {
      font-family: 'Prosto One', cursive;
      font-weight: 400;
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 7px; }

.form-btn {
  display: flex;
  flex-direction: column;
  margin-top: 4px; }
  .form-btn .form-group {
    width: 100%;
    margin-bottom: 15px; }
    .form-btn .form-group input {
      font-size: 16px;
      line-height: 19px;
      width: 366px;
      height: 51px;
      padding: 12px 27px 10px 27px;
      background: #579EAA;
      border: 1px solid #97CCD6; }
      .form-btn .form-group input::placeholder {
        color: #fff; }
      .form-btn .form-group input:focus {
        outline: none; }
  .form-btn .holder-btn {
    display: flex;
    flex-direction: column; }
    .form-btn .holder-btn .btn {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      background: #111;
      padding: 22px 40px 20px;
      letter-spacing: 1px;
      margin-bottom: 7px;
      color: #fff;
      border: none; }
    .form-btn .holder-btn span {
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #fff; }

.guarantee-wrapper {
  margin-bottom: 172px; }

.guarantee {
  display: flex;
  position: relative;
  margin: 0 -7px; }
  .guarantee .title-area {
    position: relative;
    margin-bottom: 242px; }
    .guarantee .title-area .line:after {
      background: #161616; }
    .guarantee .title-area .point:before {
      background: #161616; }
    .guarantee .title-area .title {
      color: #161616; }
      .guarantee .title-area .title h5 {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 37px; }
      .guarantee .title-area .title h6 {
        font-size: 35px;
        line-height: 44px;
        letter-spacing: 0; }

.position-wrap {
  position: absolute;
  top: -287px;
  left: 433px; }

.title-wrap-position {
  display: flex;
  justify-content: flex-end;
  margin-right: 7px;
  margin-bottom: -16px; }

.title-wrap {
  display: flex; }
  .title-wrap .title {
    font-family: 'Prosto One', cursive;
    font-size: 16px;
    line-height: 20px;
    color: #161616; }
  .title-wrap .title-line {
    width: 182px;
    height: 1px;
    background: #161616;
    position: relative;
    margin-left: 15px; }
    .title-wrap .title-line:after {
      content: "";
      position: absolute;
      top: -8px;
      right: 12px;
      width: 1px;
      height: 17px;
      background: #161616;
      transform: rotate(30.03deg); }
  .title-wrap .title-number {
    font-family: 'Prosto One', cursive;
    font-size: 16px;
    line-height: 20px;
    color: #161616;
    margin-left: 13px; }

.img-area {
  position: relative; }
  .img-area .decor-point {
    position: absolute;
    bottom: -10px;
    left: 240px;
    z-index: -2; }
  .img-area .decor-border {
    position: absolute;
    bottom: 16px;
    left: 27px;
    width: 525px;
    height: 329px;
    border: 1px solid #C0C0C0;
    background: transparent;
    z-index: -1; }

.service-guarantee {
  max-width: 718px;
  padding-top: 197px;
  padding-left: 101px; }
  .service-guarantee li {
    display: flex;
    margin-bottom: 26px; }
    .service-guarantee li strong {
      font-size: 30px;
      line-height: 37px;
      color: #55B197;
      margin-right: 28px; }
    .service-guarantee li div {
      position: relative;
      padding: 14px 0 0; }
      .service-guarantee li div:after {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        width: 51px;
        height: 1px;
        background: #161616; }

.service-wrapper {
  margin-bottom: 100px; }
  .service-wrapper .holder-title {
    display: flex;
    justify-content: space-between; }
    .service-wrapper .holder-title .title-area {
      margin-bottom: 0; }
      .service-wrapper .holder-title .title-area .line:after {
        left: -7px;
        top: 20px;
        background: #161616; }
      .service-wrapper .holder-title .title-area .point:before {
        left: 80px;
        top: 17px;
        background: #161616; }
      .service-wrapper .holder-title .title-area .title {
        padding-top: 0;
        padding-left: 100px;
        color: #161616; }
        .service-wrapper .holder-title .title-area .title h5 {
          font-size: 35px;
          line-height: 44px;
          letter-spacing: 0;
          margin-bottom: 0; }
        .service-wrapper .holder-title .title-area .title h6 {
          font-size: 35px;
          line-height: 44px;
          letter-spacing: 0; }
    .service-wrapper .holder-title .title-wrap-position {
      margin-bottom: 0; }
      .service-wrapper .holder-title .title-wrap-position .title-wrap .title-line {
        margin-top: 12px; }
        .service-wrapper .holder-title .title-wrap-position .title-wrap .title-line:after {
          right: 22px; }

.service-area .holder-title-service {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  margin-top: -27px;
  margin-bottom: 71px; }
  .service-area .holder-title-service .title-service {
    display: flex;
    padding: 0 0 0 114px; }
    .service-area .holder-title-service .title-service img {
      height: 30px;
      width: 45px;
      margin-right: 61px; }
    .service-area .holder-title-service .title-service .text h5 {
      font-weight: 600;
      margin-bottom: 3px; }
    .service-area .holder-title-service .title-service .text h6 {
      font-weight: 400; }

.list-service {
  display: flex;
  margin: 0 -11px 0 -25px; }
  .list-service li {
    margin: 0 18px; }
    .list-service li .service-photo {
      position: relative;
      overflow: hidden;
      margin-bottom: 20px; }
      .list-service li .service-photo img {
        width: 420px;
        height: 215px; }
      .list-service li .service-photo span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 98%;
        font-weight: 900;
        font-size: 270px;
        line-height: 212px;
        background: #c4c4c4;
        text-align: center;
        color: #FFF;
        mix-blend-mode: multiply; }
    .list-service li .price-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px; }
      .list-service li .price-wrap h4 {
        margin-left: 51px; }
      .list-service li .price-wrap .price {
        color: #55B197;
        font-weight: 600; }
        .list-service li .price-wrap .price strong {
          padding-left: 5px;
          font-weight: 700; }
    .list-service li .holder-btn {
      display: flex;
      justify-content: center; }

@media (max-width: 1289px) {
  .slide .title {
    line-height: 23px; }
  .slick-dots {
    bottom: -60px; }
  .reviews .holder-btn {
    margin-top: 26px; }
  .slick-prev,
  .slick-next {
    right: -9px;
    bottom: -61px; }
  .ui-accordion-content {
    height: 490px !important; } }

@media (max-width: 1023px) {
  .about-us {
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 150px; }
    .about-us .img-about-us {
      position: inherit;
      max-width: 100%; }
    .about-us .text {
      padding: 72px 23px; }
      .about-us .text .content {
        max-width: 100%; }
        .about-us .text .content p {
          font-size: 15px; }
      .about-us .text h5 {
        font-size: 18px; }
      .about-us .text h2 {
        font-size: 38px;
        line-height: 48px; }
  .ui-accordion-content {
    height: 550px !important; }
  .feedback-slider {
    height: 360px; }
  iframe {
    height: 300px; } }

@media (max-width: 767px) {
  .navigation {
    display: none; }
  .accordion-block h5 {
    text-align: center;
    margin-bottom: 10px; }
  .accordion-answers {
    text-align: center; }
  .ui-accordion-content {
    height: 100% !important; }
  .ui-accordion .ui-accordion-header {
    padding: 20px 30px;
    margin-top: 30px; }
  .feedback-slider {
    height: 100%;
    margin-bottom: 70px; }
  .slide {
    padding: 25px 20px; }
  .slick-dots {
    bottom: -25px;
    left: 55px; }
  .slick-prev,
  .slick-next {
    right: 80px;
    bottom: -50px; } }
