.z-index {
  position: relative;
  z-index: 10;
}

.z-index-100 {
  position: relative;
  z-index: 100;
}

.background-blue {
  background: #488E9A;
}

.side-border {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 940px;
    left: 8px;
    top: 0;
    background: #EBEBEB;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 940px;
    right: 22px;
    top: 0;
    background: #EBEBEB;
    z-index: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.border {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 611px;
    height: 166px;
    left: 8px;
    top: 0;
    background: #161616;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    right: 22px;
    border-radius: 50%;
    top: 0;
    background: #161616;
    z-index: 1;
  }
}

