@media (max-width: 1309px) {
  .header {
    &:before {
      right: 158px;
    }
  }

  .form-area {
    padding: 48px 28px 36px 43px;
    max-width: 968px;
  }

  .form-wrapper {
    margin-bottom: 54px;
  }

  .guarantee-wrapper {
    margin-bottom: 80px;
  }

  .service-guarantee {
    max-width: 608px;
  }

  .guarantee {
    align-items: center;
  }

  .img-area {
    .decor-point {
      bottom: -60px;
      left: 110px;
    }

    .decor-border {
      bottom: -34px;
      left: -103px;
    }
  }

  .position-wrap {
    top: -287px;
    left: 343px;
  }

  .service-area {
    .subtitle {
      margin-top: 13px;
      margin-bottom: 21px;
    }
  }

  .list-service {
    margin: 0 3px 0 -11px;

    li {
      margin: 0 5px;

      .service-photo {
        span {
          font-size: 243px;
        }
      }

      .price-wrap {
        h4 {
          margin-left: 0;
        }
      }
    }
  }

  .service-wrapper {
    margin-bottom: 80px;
  }

  .comfort-text {
    .weight-600 {
      padding-right: 20px;
    }
  }

  .full-construction {
    margin-bottom: 80px;
    .text {
      .line-decor {
        max-width: 1665px;
      }
    }
  }

  .col-2 {
    .img-area {
      max-width: 500px;

      .text {
        max-width: 413px;
      }

      .decor-point {
        left: 24px;
      }

      .decor-border {
        width: 420px;
      }
    }
  }

  .the-cost {
    margin-bottom: 80px;
  }

  .staff-wrapper {
    .wrap-slid-list {
      .service-guarantee {
        max-width: 512px;
        padding-left: 0;
        padding-top: 18px;
        margin-right: 5px;

        li {
          strong {
            margin-right: 10px;
          }
        }
      }

      .photos-of-employees {
        width: 718px;

        .background {
          width: 90%;

          &:after {
            width: 100%;
          }
        }
      }

    }
  }

  .seal-text {
    margin-top: -78px;

    .seal {
      top: -268px;
    }
  }

  .staff-background {
    padding-top: 35px;
    background-size: 1100px 860px;
    margin-bottom: 80px;
  }

  .wrap-list {
    flex-direction: column;
    align-items: center;
    .list-weekdays {
      justify-content: center;
      width: 100%;
    }
  }

  .our-everyday-life {
    margin-bottom: 80px;
  }

  .wrapper-question-answer {
    .subtitle {
      margin-top: 0;
    }
    .questions {
      .holder-accordion {
        margin: 0;
      }
    }
  }

  .footer {
    .logo-social-networks {
      margin-right: 30px;
    }

    .the-lists {
      .help-and-support {
        .wrap-list {
          flex-direction: inherit;
        }
      }
      .contacts-list {
        margin-right: 5px;
        &:after {
          right: 5px;
        }
      }

      .elite-moving {
        margin-right: 17px;
        &:after {
          right: -11px;
        }
      }
    }
  }
}